.mainAddButton {
  padding: 10px;
  margin: 20px;
  background-color: #41c485;
  width: 120px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.mainAddButton:hover {
  background-color: #41c485ab;
  transition: all 0.5s ease-in-out;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(219, 215, 215, 0.113);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 500px;
  background-color: #1d1c1c;
  color: #b7903c;
  padding: 30px 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.title {
  color: #41c485;
  text-align: center;
}

.close {
  width: 30px;
  height: 30px;
  background-color: #d1411e;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}

.input {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  padding: 5px;
  font-family: "Bosento";
  background-color: #222;
  color: #d8d8d8;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
}

.inputSm {
  width: 25%;
}

.extra {
  display: flex;
  justify-content: space-between;
}

.extraWrapper {
  position: relative;
}

.extraItems {
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
}

.extraItem {
  padding: 5px;
  font-size: 14px;
  border: 1px solid tomato;
  background-color: white;
  color: tomato;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  
}

.deleteExtra {
  width: 15px;
  height: 15px;
  background-color: #d1411e;
  font-size: 8px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: 0px;
}

.extraButton {
  cursor: pointer;
    color: white;
    background-color: #0060df;
    font-family: "Bosento";
    border: transparent;
    outline: none;
    width: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.extraButton:hover {
    background-color: #0061dfc5;
    transition: all 0.5s ease-in-out;
}

.addButton {
  width: 25%;
  border: none;
  background-color: #41c485;
  font-family: "Bosento";
  font-size: 18px;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 0;
  align-self: flex-end;
  margin-top: 20px;
}

.addButton:hover {
  background-color: #41c485ab;
  transition: all 0.5s ease-in-out;
}