.container {
    height: 100px;
    padding: 60px 20px;
    font-family: "Bosento";
    background-color: #1d1c1c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}

.item {
    flex: 1;
    display: flex;
    align-items: center;
}

.hamburgerMenuContainer {
    display: none;
}

.item:nth-child(2) {
    flex: 2;
}

.item:nth-child(3) {
    justify-content: flex-end;
}

.callButton {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
}

.texts {
    margin-left: 20px;
    color: white;
}

.text:nth-child(1) {
    color: #e2293f;
    font-size: 12px;
    font-weight: 500;
}

.text:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
}

.list {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}

.listItem {
    margin: 20px;
    font-weight: 500;
    cursor: pointer;
}

.adminMenuWrapper {
    position: relative;
    display: inline-block;
    margin-right: 100px;
}

.adminMenu {
    display: none;
    background-color: #222;
    color: #d8d8d8;
    text-align: left;
    position: absolute;
    top: 34px;
}
.menuList {
    list-style: none;
    padding: 0;
    
}

.avatarButtonIcon {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.animateMenu {
    display: block;
    background-color: #222;
    color: #d8d8d8;
    text-align: left;
    position: absolute;
    top: 34px;
    animation: fade_in_show 0.5s;
}

@keyframes fade_in_show {
     0% {
          opacity: 0;
          transform: scale(0)
     }

     100% {
          opacity: 1;
          transform: scale(1)
     }
}

.cart {
    position: relative;
    cursor: pointer;
}

.counter {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #41c485;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
}


@media only screen and (min-width: 901px) and (max-width: 1080px) {
	.callButton {
        width: 40px;
        height: 40px;
    }

    .item:nth-child(1) {
        flex:1 1;
        margin-right: 50px;
    }

    .text:nth-child(2) {
    font-size: 16px;
    font-weight: bold;
}

    .item:nth-child(2) {
    flex: 4 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1024px) {
	.container {
        padding: 60px 20px;
    }

    .item:nth-child(2) {
       flex: 1 1;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .hamburgerMenuContainer {
        display: inline-block;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
         width: 35px;      
         height: 5px;
         background-color: #ffffff;
         margin: 6px 0;
         transition: 0.4s;
     }

     .change .bar1 {
         transform: translate(0, 11px) rotate(-45deg);
     }

      /* Fade out the second bar */
     .change .bar2 {
         opacity: 0;
     }

      /* Rotate last bar */
     .change .bar3 {
         transform: translate(0, -11px) rotate(45deg);
     }

    .callButton {
        display: none;
    }

    .texts {
        display: none;
    }

    .listItem {
        display: none;
    }

    .adminMenuWrapper {
        display: none;
    }
}

@media screen and (max-width: 900px) {
   .container {
        padding: 60px 20px;
        
    }

    .item:nth-child(2) {
        flex: 1 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hamburgerMenuContainer {
        display: inline-block;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
         width: 35px;      
         height: 5px;
         background-color: #ffffff;
         margin: 6px 0;
         transition: 0.4s;
     }

     .change .bar1 {
         transform: translate(0, 11px) rotate(-45deg);
     }

      /* Fade out the second bar */
     .change .bar2 {
         opacity: 0;
     }

      /* Rotate last bar */
     .change .bar3 {
         transform: translate(0, -11px) rotate(45deg);
     }

    .callButton {
        display: none;
    }

    .texts {
        display: none;
    }

    .listItem {
        display: none;
    }

    .adminMenuWrapper {
        display: none;
    }
}